// css button, title, icon, elements...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    outline: 0;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
    outline: 0;
    // color: $black30-cl;
    &.link {
        color: $main-cl;
        @include transition($t);
        &:hover {
            // opacity: 0.6;
        }
    }
}
strong {
    font-family: gb;
}

sup {
    vertical-align: super;
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
}
sub {
    vertical-align: sub;
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
}

.text-content {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}