 .header {
        position: relative;
        width: 100%;
        height: $height-header;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            position: relative;
        }
        &__logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            img {
                max-height: 70px;
                width: auto;
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            li {
                padding: 0 10px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }